
/* テキストを省略せずに表示する */
.ui-header .ui-title,            /* ヘッダー */
.ui-footer .ui-title,            /* フッター */
.ui-btn-inner,                /* ボタン */
.ui-li-heading,                /* リスト見出し */
.ui-li .ui-btn-text a.ui-link-inherit,    /* リンクリスト */
.ui-li-desc                /* リスト詳細 */
{
    overflow: visible;
    white-space: normal;
}

/*リストのアイコンサイズ*/
.ui-listview .ui-li-icon{
    max-height: 30px;
    max-width: 30px;
    left: 5px;
    top: .25em;
}

/*トップページ*/
.spec{
    background:#333;
}
.people{
    color:#fff;
    margin:0;
    overflow:hidden;
    padding:10px 10px 0 10px;
    text-shadow:none;
    white-space: nowrap;
}
.popular{
    color:#ccc;
    margin:0;
    overflow:hidden;
    padding:0 10px 10px;
    text-shadow:none;
    white-space: nowrap;
}